.table {
  border-collapse: collapse;
  text-align: center;
  width: 100%;
}

.table td, .table th {
  border: 1px solid #ddd;
  padding: 8px;
}

.table tr:nth-child( even ) {
  background-color: #d5bfbf;
}

.table tr:hover {
  background-color: #fe8f8f;
}

.table th {
  background-color: #ff5c58;
  color: white;
  padding-bottom: 12px;
  padding-top: 12px;
  text-align: center;
}
